.p{
    font-size: 20px;
}
.img{
    border: solid;
    border-radius:  50px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;

}

body{
    min-height: 100vh;
   
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: seagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 32px;
    color: #ffff;
    text-decoration: none;
    font-weight: 700;
}
.navbar a{
    position: relative;
    font-size: 18 px;
    color: #ffff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #ffff;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}


.imagebutton {
    transition: transform 0.3s ease; /* Geçiş animasyonu ekleniyor */
    border-radius: 25px;
  }
  
  /* Fareyle üzerine gelindiğinde img öğesinin %5 büyümesi */
  .imagebutton:hover {
    transform: scale(1.05); /* Öğeyi %5 büyüt */
  }
  .hakkimizda{
    font-family: 'Brush Script MT', cursive;
  }

  .container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }